.top-nav-bar {
  z-index: 100;
}

.top-nav-bar .user-icon {
  line-height: 2;
}

.top-nav-bar .user-icon svg {
  width: 2em;
  height: 2em;
}

.top-nav-bar .menu-arrow svg {
  width: 1.2em;
  height: 1.2em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-180deg);
  }
}

@keyframes reverse-spin {
  from {
    transform: rotate(-180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.top-nav-bar-username {
  color: black;
  margin: 15px;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.top-nav-bar-divider {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.top-nav-bar-submenu-profile-icon {
  margin-right: 10px;
}

.top-nav-bar .menu {
  padding-right: 5px;
}

.top-nav-bar .ant-menu-submenu-title {
  padding-right: 5px;
}

.ant-menu-sub {
  background-color: #ecf3fa !important;
}

.ant-menu-item {
  color: black !important;
  font-family: "Montserrat", sans-serif;
}
